@charset "utf-8";
@import "normalize";
@import "navigation";
@import "content";
@import "header";
@import "code";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
html {
  height: 100%;
}

body {
  text-rendering: optimizelegibility;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
}

@mixin min-screen($min-width: $body-width) {
  @media screen and (min-width: $min-width) {
    @content;
  }
}

@mixin max-screen($max-width: $body-width) {
  @media screen and (max-width: $max-width) {
    @content;
  }
}

$sidebar-width: 300px;
